			</section>
			<aside class="col-md-3 p0">
	      <%= @aside ? @aside : '' %>

			<div class="wrapper">
        <h4>Free Email Updates</h4>
        
        <form action="//gamecp.us9.list-manage.com/subscribe/post?u=c51506a011e686ef30cdf42cb&amp;id=90c78ff308" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" >
            <div class="input-group">
              <input type="email"  name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Enter your email address" required>
              <input type="hidden" name="b_c51506a011e686ef30cdf42cb_90c78ff308" tabindex="-1" value="">
              <div class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="fa fa-envelope"></i></button>
              </div>
            </div>	
        </form>
        <p class="text-muted text-center pt5"><small><em class="fa fa-lock"></em> No spam. Sent with <a href="http://eepurl.com/bc3L_H%22">Mailchimp</a>.</small></p>
      </div>


				<%= erb :aside %>
			</aside>
		</div>
	</div>

  <link rel="stylesheet" property="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" property="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.2.0/bootbox.min.js"></script>
	<script src="/js/site.js"></script>

	<%= @footer ? @footer : '' %>

  </body>
</html>