<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="Asked.io">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://asked.io">
	<meta property="og:site_name" content="Asked.io">
	<meta property="og:description" content="Day to Day Question &amp; Answers a Full-Stack web-developer has.">
	<meta property="og:image" content="resources/img/cover_sm.jpg">
	<title>Asked.io</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
	<link rel="stylesheet" href="/css/site.css">
  </head>
  <body>
  <div class="container">
	<header><br></header>
	<div class="bg"></div>
	<div class="jumbotron">
        <h1>Asked.io:</h1>
        <p>A day-to-day log of the questions I've asked and the answers I've found.</p>
      </div>
	  <div class="row">
	<section class="col-md-8">
		<h2 class="hide">Blog List</h2>
