<html>
  <head></head>
  <body>
    <h1>E-mail Test</h1>
    <ul>
      <li>To: <%= to %></li>
      <li>From: <%= from %></li>
      <li>Subject: <%= subject %></li>
      <li>Body: <%= body %></li>
    </ul>
  </body>
</html>