<% if Category.all(:limit => 5, :offset => 3).sort_by { |category| -category.posts.count }.count > 0 %>
<section>
  <h4><a href="/categories">Top Categories</a></h4>
  <ul class="list-group ">
    <% Category.all(:limit => 5, :offset => 3).sort_by { |category| -category.posts.count }.each do |cat| %>
      <% if defined? cat.slug %>
        <li class="list-group-item"><a href="/category/<%= cat.slug %>"><%= cat.title %></a></li>
      <% end %>
    <% end %>
  </ul>
</section>
<% end %>